* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #090c12;
}
.container {
  background-color: #27354e;
  border-radius: 30px;
  margin: 10%;
  padding: 40px;
  background: url(./images/background.jpg);
  background-size: cover;
}
.logo-img img {
  width: 30px;
  height: 30px;
}
.logo {
  display: flex;
  gap: 20px;
}
.company-name {
  color: white;
  margin-top: 6px;
}
.menu ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
}
.menu ul li {
  color: white;
  padding-right: 20px;
  border-right: 1px solid white;
}
header {
  display: flex;
  justify-content: space-between;
}
h2 {
  color: white;
  margin-top: 200px;
  width: 60%;
  font-size: 50px;
}
.content p {
  color: white;
  width: 40%;
  margin-top: 50px;
  line-height: 1.2em;
}
button {
  margin-top: 50px;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: white;
  background-image: linear-gradient(to right, yellow, pink, purple);
}
.stats {
  color: white;
  display: flex;
  gap: 50px;
  margin-top: 40px;
}
.button-right-arrow {
  border: 1px solid white;
  background-color: white;
  color: black;
  width: 17px;
  border-radius: 5000px;
  display: inline-block;
  margin-left: 20px;
}
h3 {
  font-size: 2em;
}
.stats {
  margin-bottom: 60px;
}
.linear-bg-text {
  background-image: linear-gradient(to right, yellow, pink, purple);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.down-arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 2px;
  margin-left: 3px;
}
.blur {
    background: rgba(255, 255, 255, 0.2); 
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    height: 112.5%;
    width: 45%;
    margin: -40px;
    padding: 0;
    position: absolute;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}